<p>Hi <%= @user.first_name %>,</p>

<p>Thank you for booking our flat "<%= @booking.flat.title %>", unfortunetly the flat seems to be booked already at those dates. We try to update as much as possible our calendar on the website but we are only human! Sadly another booking as been made before for the same dates.</p>

<p>If you would like to book other dates feel free to do so on our <a href="http://www.cap-vauban.com/">website</a></p>

<p>Looking forward to seeing you soon in Antibes.</p>
<p>Kindest regards</p>
<p>Françoise &amp; François Littmann</p>

<% if @booking.admin_comment && @booking.admin_comment != "" %>
<p>PS: <%= @booking.admin_comment %></p>
<% end %>
