<p>Bonjour <%= @user.first_name %>,</p>

<p>Merci de l'intérêt que vous portez à notre appartement "<%= @booking.flat.title %>", malheureusement il n'est pas libre a cette période, nous essayons d'être aussi réactif que possible pour mettre a jour le calendrier sur notre site mais il se trouve que nous avons reçu une autre réservation via un autre site.</p>

<p>Si vous désirez réserver une autre période je vous invite a refaire une réservation par <a href="http://www.cap-vauban.com/">notre site</a>.</p>

<p>En espérant avoir le plaisir de vous accueillir prochainement à Antibes.</p>
<p>Très cordialement,</p>
<p>Françoise &amp; François Littmann</p>

<% if @booking.admin_comment.present? %>
<p>PS: <%= @booking.admin_comment %></p>
<% end %>
