.booking-container {
  min-height: 76vh;
  h2 {
    font-weight: 300;
  }
}
.no-bookings {
  margin-top: 10%;
  a {
    margin-top: 20px;
  }
  h2 {
    font-weight: 300;
  }
}
.payment-recieved-button {
  opacity: 0.8;
  color: gray;
  font-weight: 100;
}
