.media {
}
.media-body {
  padding: 20px;
  h2 {
    margin-top: 5px;
  }
}
.media-body img {
  width: 100%;
}

.media-section {
  margin-top: 20px;
}

.flat-intro {
  margin-bottom: 20px;
}
.booking-action {
  padding: 20px 10px;
  background-color: aliceblue;
  border: 0.5px solid #e7edf3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .btn {
    margin: 10px auto;
    width: 40%;
  }
  p {
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
  }
  .booking-extra-info {
    font-size: 13px;
    color: gray;
  }
}

.flat-calendar h4 {
  text-align: right;
}

.fixed-action {
  position: fixed;
  top: 85px;
  right: 50px;
  width: 355px;
}
.carousel-image img {
  width: auto;
}

.gallery {
  display: inline-block;
  margin-top: 20px;
}

.pricing-container {
  border-bottom: 0.5px solid rgba(174, 174, 174, 0.2);
  margin-bottom: 10px;
}
