.terms {
  h2 {
    text-align: center;
  }
}

.terms-modal {
  width: 70% !important;
}

.terms-info {
  p {
    font-size: 12px;
    font-weight: 300;
    color: gray;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.coupon {
  margin-top: 5px;
  width: 100%;
  font-weight: 300;
}
