<div class="container">
  <% @bookings.each do |booking| %>
  <div class="product">
    <div class='product-upvote'>
      <div><i class="fa fa-calendar"></i></div>
      <div class='product-count'><%= booking.start_date %></div>
    </div>
    <%= cl_image_tag booking.flat.banner_photo.path, class: "product-image hidden-xs"  %>
    <div class='product-body'>
      <h3><%= booking.flat.title %></h3>
      <p><%= booking.flat.description %></p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>
  <% end %>
</div>
