<div class="container terms">
<h2>TERMS &amp; CONDITIONS</h2>
  <h3>GENERAL CONDITIONS</h3>
  <p>The present rent is made at the following conditions :</p>
  <ul>
    <li>Use peacefully places, premises being the object of the present contract are rented only as temporary residence.</li>
    <li>The tenant has the obligation to indicate, within 24 hours, any disaster arisen in the apartment or the garage.</li>
    <li>Are included in the amount of the rent, the fees for water and electricity (up to 150 kWh/week), as well as bedlinen &amp; towels.</li>
    <li>The apartment is strictly non-smoking.</li>
    <li>The tenant can introduce no animal into premises.</li>
  </ul>
  <h3>DEPOSIT</h3>
  <p>The tenant will have to leave a deposit of 300€ or 3000SEK to cover potential damages which could be caused in objects furnishing the rented places.</p>
  <p>The deposit will be restored at departure, made deduction, if necessary, of sums owed for the possible damages arisen during the stay, except those resulting from an abnormal wear or from a defect of the equipment.</p>
  <h3>INVENTORY</h3>
  <p>A contradictory inventory will be established in the entrance and will be the object of a checking at the end of rent.</p>
  <p>On departure, the tenant has to leave:</p>
  <ul>
    <li>Dishes clean and dishwasher empty</li>
    <li>Trash cans emptied (the premises trash can is located in the second under ground)</li>
  </ul>
  <p>In case of loss of keys, it will be charged 70€ for one key of the apartment, 30€ for the RFID Vigik transponder and 70€ for the remote control of the garage.</p>
  <h3>ADDITIONAL FEE</h3>
  <p>The tenant has to pay 50€, in cash on arrival, for the final cleaning.</p>
</div>
