.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin:20px;
  color: #2F323A;
  width: 500px;
  height: 75vh;
  border-radius: 4px;
  position: relative;
  padding: 0;
  background-color: white;
  border: 0.5px solid rgba(167, 185, 221, 0.43);
  .card-title {
    margin: 10px auto;
    text-align: center;
    h3 {
      font-size: 40px;
      font-weight: 100;
      transition: .5s;
    }
  }
  .card-date {
    font-weight: 100;
    color: #424855;

  }
  .card-info {
    font-weight: 100;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    display: none;
    transition: .4s;
    p {
    }
    .card-info-description {
      padding: 10px;
      border-radius: 5px;
      border: 0.5px solid rgba(197, 201, 201, 0.24);
      background-color: whitesmoke;
      h4 {
        font-size: 17px;
        font-weight: 400;
        text-align: left;
        margin: 10px;
      }
      margin-bottom: 20px;
    }
  }
  .card-image {
    background-size: cover !important;
    background-position: center;
    width: 100%;
    height: 80%;
    transition: .5s;
  }
}

.card:hover {
  box-shadow: 1px 1px 6px 0px #96A6C7;
  .card-title h3 {
    font-weight: 400;
    transition: .5s;
  }
  .card-date {
    display: none;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    transition: .5s;
  }
  .card-image {
    height: 0;
    transition: .5s;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  opacity: 0;
}
